@(title: String)(content: Html)

<!DOCYPE html>
<html lang="en">
	<head>
	<title>	Doctors Planet</title>
	<meta http-equiv="content-type" content="text/html; charset= UTF-8">
	<meta name="keyword" content="HTML, CSS, JavaScript, Bootstrap">
	<meta name="description" content="Fuel, gas and oil">
	<meta name="author" content="Md Amanur Rahman">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
	<link media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet"/>
	<link media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")" rel="stylesheet"/>
	<link media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")" rel="stylesheet" /> 
	<link media="screen" href="@routes.Assets.at("stylesheets/bootstrap-social.css")" rel="stylesheet" /> 
	<link media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")" rel="stylesheet" /> 
	<link media="screen" href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet" /> 
	<style type="text/css">
	body {
			background: url(@routes.Assets.at("images/background-img.jpg")) no-repeat 50% 0; 
			background:sdsdfsf#006D84;
			background-size: 100% 30%;
			height:100%;
			

	}
	.font-color{color:#fff;}
	.dropdown.open {
    background: #fff;
}
	.dropdown.open .dropdown-toggle {
    color: #fff;
}
</style>
	</head>
	
<body class="fullscreen background body img-responsive">
<div class="navbar navbar-fixed-top">
<nav style="background:#103A51"  class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button style="border:1px solid #ddd;"type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar line-color">--</span>
        <span class="icon-bar line-color">--</span>
        <span class="icon-bar line-color">--</span>
      </button>
      <a class="navbar-brand" href="#">
		<img class="com-logo"src="@routes.Assets.at("images/logo.png")">ODPlanet
	  </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Content</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
		<li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<content>
<div class="jumbotron bg-color" style="min-height:700px; padding-top:15%;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 sign-up-heading">
				<p>
					Be a member of Online doctor planet and make your life easy and safe 
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="col-lg-3 col-md-3 col-sm-12"></div>
				<div class=" col-lg-9 col-md-9 col-sm-12">
				<form class="form-horizontal" action="index.html" method="post">
				  <div class="form-group">
					<div class="col-sm-10">
					  <input type="text" name="name" required="required" class="form-control" id="inputEmail3" placeholder="Your full name" >
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-10">
					  <input type="email" required="required"  class="form-control" id="inputEmail3" placeholder="Enter your email">
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-10">
					  <input type="password" class="form-control" id="inputPassword3" placeholder="Create a new password">
					  <p style="color:#fff; font-size:14px;">Use at least one lowercase letter, one numeral, and seven characters.</p>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-10">
					  <button type="submit" class="btn btn-success">Sign Up</button>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-10">
					  <p style="color:#fff; font-size:14px;">
						By clicking "Sign up for ODPlanet", you agree to our terms of service and privacy policy.
						We will send you account related emails occasionally.
					  </p>
					</div>
				  </div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="container  shado-border my-bg">
		<div class="row col-md-12">
			<div class="col-md-6 ">
				<p class="justify ">
					The project that I have developed based on web application for the al-amingroup’s
					food and beverage. The al-amingroup already has a website but that is static.
					They wanted it dynamic. In this project there have the ability to interact with 
					the website by the admin. The admin can add a product, update a product, delete 
					a product, and view the product list and their added date. The admin will show 
					the users comments and applicants CV. If the admin want to register another admin,
					he will can. I have taken that functionality to establish in this project. 
				</p>
				</div>
			<div class="col-md-6">
				<img class="img-responsive" src="@routes.Assets.at("images/t.png")" />
			</div>
		</div>
		<div class="row col-md-12 ">
			<div class="col-md-6">
				<p class="justify ">
				<img class="img-responsive" src="@routes.Assets.at("images/ok.png")" />
				</p>
			</div>
			<div class="col-md-6 ">
				<p class="justify ">
					The project that I have developed based on web application for the al-amingroup’s
					food and beverage. The al-amingroup already has a website but that is static.
					They wanted it dynamic. In this project there have the ability to interact with 
					the website by the admin. The admin can add a product, update a product, delete 
					a product, and view the product list and their added date. The admin will show 
					the users comments and applicants CV. If the admin want to register another admin,
					he will can. I have taken that functionality to establish in this project. 
				</p>
			</div>
			




		</div>
</div>
</div>





</content>
		<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
			
        <div class="module widget">
				
					<div class="module-header">
					
						<h4 class="module-title text-md-center">Our Company</h4>
							<a href="#"><img src="@routes.Assets.at("images/companylogo.png")" class="img-responsive"></a>
					</div><!-- /.module-header -->
					<div class="module-body text-md-center">
						<div class="row">
							
						</div><!-- /.row -->
					</div><!-- /.module-body -->
				</div><!-- /.module -->
				</div>      
				<div class="col-md-3 col-sm-12 col-xs-12">
        <div class="module widget">
					<div class="module-header">
						<h4 class="module-title text-md-center">Follow Us</h4>
					</div><!-- /.module-header -->
					<div class="module-body text-md-center">
						<div class="row">
							<div class="col-md-12 col-sm-6">
									<p>Doctors Planet</p>
									<ul class="list-social-icons">
											<li><a href="http://facebook.com/transvelo"><span style="background:#3A5795;" data-icon="?"></span></a></li>
											<li><a href="https://twitter.com/transvelo"><span style="background:#55ACEE;" data-icon="?"></span></a></li>
											<li><a href="#"><span style="background:#AD384A;" data-icon="?"></span></a></li>
											<li><a href="#"><span style="background:#D64535;" data-icon="?"></span></a></li>
											<li><a href="#"><span style="background:#8E325D;" data-icon="?"></span></a></li>
									</ul><!-- /.list-social-icons -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.module-body -->
				</div><!-- /.module -->
				</div><!-- /.module -->
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <div class="module block-newsletter">
								<div class="module-header">
										<h4 class="module-title text-md-center">Dhaka Office</h4>
								</div><!-- /.module-header -->
								<div class="module-body text-md-center">
									<p>House # 36, Navana Garden<br>
										Kallyanpur, Mirpur Road<br>
										Dhaka-1216<br>
										Bangladesh<br>
									</p>
								</div><!-- /.module-body -->
							</div><!-- /.module -->
<!-- ============================================================= NEWSLETTER FOOTER : END ============================================================= -->                    </div><!-- /.col -->
                    </div><!-- /.row -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-12 col-xs-12">
                <!-- ============================================================= SHIPPING DELIVERY FOOTER ============================================================= -->
<div class="module">
    <div class="module-header">
        <h4 class="module-title text-md-center">Chittagong Office</h4>
    </div><!-- /.module-header -->
    <div class="module-body text-md-center">
        <p>Biggan Barta Vaban<br>
Nawab Sirajuddula Road<br>
Chandanpura, Chittagong-4203<br>
Bangladesh<br>
</p>
         </div><!-- /.module-body -->
</div><!-- /.module -->
<!-- ============================================================= SHIPPING DELIVERY FOOTER :END ============================================================= -->            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
		</footer>
		<div class="container-fluid copy-right">
			<p class="pull-right">copyright © 2015 Doctor Planet</p>
		</div>
		
		
		
    
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>